.product_item .product_item_image {
    position: relative;
    border-radius: 24px;
}

.product_item .product_item_image button {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.product_item .product_item_image>img {
    border: 5px solid #D2D1D3;
    height: 100%;
    border-radius: 24px;
    width: 100%;
    object-fit: contain;
}

.product_desc {
    padding: 8px 0
}

.product_desc small {
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.product_desc small:last-child {
    color: #4A69E2;
    margin-top: .4rem;
}

.product_item .add_tocart {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #232321;
    border: 2px solid transparent;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.product_item .add_tocart:hover {
    background-color: transparent;
    border: 2px solid #232321;
    color: #232321;

}

.product_item .product_item_image button {
    background-color: transparent;
    height: 24px;
    cursor: pointer;
    width: 24px;
}

.product_item .product_item_image button img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}