@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7E7E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}


.swiper:last-child {
  position: absolute;
  bottom: 2rem !important;
  right: 2rem;
  z-index: 10;
}

p {
  font-size: 24px;
}

